<!DOCTYPE html>
<html>
<head>
    <title>Quiz 4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{#    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>#}
</head>
<body>
    <div>
        <a href="/question1">Question1</a>
        <a href="/question2">Question2</a>
        <a href="/question3">Question3</a>
        <a href="/question4">Question4</a>
        <a href="/question5">Question5</a>
        <a href="/question6">Question6</a>
         <a href="/location">location</a>
        <br><br>
        <h2>Rupin Singh Thakur</h2>
        <h2>1001651167</h2>
    </div>
</body>
</html>